<div class="container">
  <h1>Запланированные события</h1>
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Время</th>
        <th></th>
        <th></th>
      </tr>

      <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.text %></td>
            <td><%= event.time %></td>
            <td><%= link_to 'Показать', event_path(event) %></td>
            <td><%= link_to 'Удолить', event_path(event),
                            method: :delete,
                            data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>